@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,900;1,100;1,400;1,900&family=Rubik+Burned&display=swap");

@font-face {
  font-family: "American Captain"; 
  src: url(./fonts/American_Captain.ttf); 
}
html,body{
    margin: 0;
    height: 100%;
    width: 100%;
}
body{
    background-color: #a7a7a7;
    /* overflow-x: hidden; */
    overflow-x: hidden;
    height: 100%;
}
#wrap{
    width: 75vw;
    display: block;
    margin: auto;
    background-color: #fff;
    height: 50vh;
}
h1{
    color: #000;
    text-align: center;
    font-size: 2em;
    font-family: "Rubik Burned", system-ui;
}
#wrap a{
    text-decoration: none;
    display: block;
    margin: auto;
    width: 120px;
    background-color: #636363;
    color: #fff;
    margin-top: 30px;
    text-align: center;
}
a:hover{
    background-color: #fff;
    color: #636363;
}
a{
    text-decoration: none;
    display: block;
    margin: auto;
    width: 120px;
    background-color: #636363;
    color: #fff;
    margin-top: 30px;
    text-align: center;
}
p{
    padding: 5px;
}
.foot .near-footer h1{
    background-color: #000000;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-size: 3em;
}
.foot .near-footer p{
    column-count: 2;
    text-align: center;
}
.foot .footer{
    background-color: #000000;
}
.foot .footer h3{
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 2em;
}


.java{
    position: relative;
    top: -70px; 
    left: 1350px;
    width:50px;
    height:57px;
    background-image: url(/images/chel.jpg);
      animation: play 1s steps(8) infinite;
    }
   @keyframes play { 
      0% { 
      background-position: 0 0; 
      } 
   
      100% { background-position: -395px 0; }
      }

      #plavat{
        top: -50px;
        left: 0;
        min-width: 50%;
        margin-left: 100px;
    }
    .foot .near-footer .a{
        display: block;
        margin: auto;
        font-size: 2em;
    }
    .foot .near-footer .a a{
        display: block;
        margin: auto;
        width: 180px;
        margin-top: 20px;
        background-color: #868686;
        color: #fff;
        text-align: center;
    }
    .foot .near-footer .a a:hover{
        background-color: #ffffff;
        color: #868686;
    }
p{
    padding: 5px;
}
@media screen and (max-width: 1468px){
    .java{
        left: 1000px;
    }
}
@media screen and (max-width: 1104px){
    .java{
        left: 800px;
    }
}
@media screen and (max-width: 860px){
    .java{
        left: 400px;
    }
}
@media screen and (max-width: 786px){
    .java{
        left: 200px;
        top: -30px;
    }
}
@media screen and (max-width: 381px){
    .java{
        left: 150px;
        top: -30px;
    }
}
