@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,900;1,100;1,400;1,900&family=Rubik+Burned&display=swap");

@font-face {
  font-family: "American Captain"; 
  src: url(./fonts/American_Captain.ttf); 
}
html {
    height: 100%;
  }
  
  body {
    height: 100%;
    margin: 0;
    line-height: 24px;
    background-color: #989ea6;
    overflow-x: hidden;
  }
  h1{
    color: #ffffff;
    text-align: center;
    font-size: 2em;
    font-family: "Rubik Burned", system-ui;
  }
  /* Button */
  .button {
    padding: 10px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    background-color: #5FE1B3;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  /* wrapper */
  .wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }
  
  .wrapper .product-list {
    padding: 30px;
  }
  
  /* Products */
  .product-list {
    display: grid;
    grid-template-columns: repeat(3, 220px);
    list-style-type: none;
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    gap: 20px;
  }
  
  .product-card {
    background-color: #ffffff;
    display: grid;
    text-align: center;
    grid-template-rows: 200px min-content auto min-content 16px;
    grid-template-columns: 16px 188px 16px;
  }
  
  .product-card-image-link {
    grid-column: 1 / -1;
    background-color: #f6f6f6;
  }
  
  /* Link */
  .product-card-link {
    text-decoration: none;
  }
  
  .product-card-title-link,
  .product-card-price,
  .product-card-button {
    grid-column: 2 / 3;
  }
  
  /* Title */
  
  .product-card-title-link {
    margin-top: 16px;
    margin-bottom: 8px;
  }
  
  .product-card-title {
    font-weight: 700;
    color: #242424;
  }
  
  /* Price */
  .product-card-price {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: #4FC3F7;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  p{
    padding: 5px;
}
.foot .near-footer h1{
    background-color: #000000;
    padding: 20px;
    color: #fff;
    text-align: center;
    font-size: 3em;
}
.foot .near-footer p{
    column-count: 2;
    text-align: center;
}
.foot .footer{
    background-color: #000000;
}
.foot .footer h3{
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 2em;
}

.foot .near-footer .a{
    display: block;
    margin: auto;
    font-size: 2em;
}
.foot .near-footer .a a{
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 180px;
    background-color: #868686;
    color: #fff;
    text-align: center;
    padding: 5px;
}
.foot .near-footer .a a:hover{
    background-color: #fff;
    color: #868686;
}

.java{
    position: relative;
    top: -70px; 
    left: 1350px;
    width:50px;
    height:57px;
    background-image: url(/images/chel.jpg);
      animation: play 1s steps(8) infinite;
    }
   @keyframes play { 
      0% { 
      background-position: 0 0; 
      } 
   
      100% { background-position: -395px 0; }
      }

      #plavat{
        top: -50px;
        left: 0;
        min-width: 50%;
        margin-left: 100px;
    }
p{
    padding: 5px;
}
a{
    text-decoration: none;
}
@media screen and (max-width: 1654px){
    .java{
        left: 80%;
    }
}
@media screen and (max-width: 1096px){
    body{
        width: 100vw;
    }
}
@media screen and (max-width: 992px){
    .java{
        left: 95%;
    }
}
@media screen and (max-width: 768px){
    .java{
        left: 90%;
    }
}
@media screen and (max-width: 720px){
    .java{
        left: 90%;
        top: -40px;
    }
    .foot .near-footer .a a{
        /* margin: 10px; */
        display: block;
    }
    .product-list {
        grid-template-columns: repeat(2, 220px);
    }
}
@media screen and (max-width: 523px){
    .java{
        left: 80%;
        top: -40px;
    }
    .foot .near-footer .a a{
        /* margin: 10px; */
        display: block;
    }
    .product-list {
        grid-template-columns: repeat(1, 220px);
    }
}